@use '@/styles/scss/abstracts/' as *;

.loading{
    border:4px solid $brandSkewColor;
    border-Top:4px solid $brandColor;
    border-radius:50%;
    width:2rem;
    height:2rem;
    animation: rotate 2s linear infinite;
    margin: 0 auto;
}

@keyframes rotate{
    0%{ 
        transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg) 
    }
}
