@use '@/styles/scss/abstracts/' as *;

.movieSection{
    margin: 1rem auto;
    width: 80vw;
    max-width: 1200px;
    .moviesContainer{
        display: flex;
        flex-direction: column;
        .titleRow{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                color: $complementaryColor;
                font-size: 1.5rem;
                font-weight: bold;
            }
            a{
                font-size: 1rem;
                color: $complementaryColor;
                &:hover{
                    color: $brandSkewColor;
                }
            }
        }
    }
}