@use '@/styles/scss/abstracts/' as *;

.movieContainer{
    margin:1rem auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    max-width: 1400px;
    .trailer{
        color: $complementaryColor;
        display: flex;
        flex-direction: column;
        gap:1rem;
        width: 85vw;
        overflow: hidden;
        h2{
            background-color: $primaryColor;
            border-radius: 10px;
            padding: 1rem;
        }
        .iframeContainer{
            position: relative;
            width: 100%;
            padding-bottom: 75%;// 4:3 aspect ratio
            height: 0;
            iframe{
                // align-self: center;
                // border: none;
                // border-radius: 5px;
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
             }
             @media (min-width: 768px){
                padding-bottom: 56.25%;// 16:5 aspect ratio
            }
        }
       
        
    }
}

