@use '@/styles/scss/abstracts/' as *;

.movieContainer{
    margin:1rem auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    max-width: 1400px;
    .trailer{
        color: $complementaryColor;
        display: flex;
        flex-direction: column;
        gap:1rem;
        width: 85vw;
        overflow: hidden;
        h2{
            background-color: $primaryColor;
            border-radius: 10px;
            padding: 1rem;
        }
        iframe{
           align-self: center;
           border: none;
           border-radius: 5px;
           
        }
    }
}

