@use '@/styles/scss/abstracts/' as *;

.notFoundContainer{
    margin: 3rem auto;
    width: 85vw;
  max-width: 1400px;
    color: $highlightColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem!important;
    font-weight: bold;
    a{
        font-size: 4rem!important;
        font-weight: bold; 
        color:$highlightColor!important;
        &:hover{
            color: $brandSkewColor!important;
        }
       
    }
   
}