@use '@/styles/scss/abstracts/' as *;

.notFoundContainer{
    margin: 2rem auto;
    width: 80vw;
    max-width: 1200px;
    color: $highlightColor;
    display: flex;
    justify-content: center;
    align-items: center;
   
    button{
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        color: #fff;
        border-radius: 5px;
        font-size: 2rem;
        font-weight: 700;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        background: $brandColor;
        background: linear-gradient(0deg, $brandColor 0%, $primaryColor 100%);
        
        border: none;
        &:hover{
            background: $brandColor;
            background: linear-gradient(0deg, $brandColor 70%, $brandSkewColor 100%);
        }
    }
}