@use '@/styles/scss/abstracts/' as *;

.headerContainer{
  width: 100vw;
  background-color: rgb(23, 29, 47); 
  position: fixed; 
  top:0;
  left: 0;
  z-index: 100;
  .header {
    margin: 0 auto;
    width: 85vw;
    max-width: 1400px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .brand {
      font-size: 2.2rem;
      font-weight: 700;
      color: $complementaryColor;
      display: flex;
      align-items: center;
      &:hover {
        .logoMain{
          color: $brandSkewColor;
        }
      }
  
      .logoMain {
        color: $complementaryColor;
        text-align: center;
      }
    }
  
    .nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: baseline;
  
        li {
          margin-left: 3rem;
          .navLink {
            color: $highlightColor;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
        
            &:hover, &:active {
              color: $brandSkewColor;
            }
          }
        }
  
      }
    
    
     
    }
  }
}
