@use '@/styles/scss/abstracts/' as *;

.footer {
  background: #0b0e14;
  color: $highlightColor;
  text-align: center;
  padding:1.5rem 0;
  .container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding:0,1.5rem;
    width: 85vw;
    max-width: 1400px;
    @media (min-width: 768px) {
      align-items: space-between;;
    }
    .footerNav{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .brand {
        font-size:1.2rem;
        font-weight: 700;
        color: $complementaryColor;
        display: flex;
        align-items: center;
        &:hover {
          .logoMain{
            color: $brandSkewColor;
          }
        }
        .logoMain {
          color: $complementaryColor;
          text-align: center;
        }
      }
      .nav{
        list-style: none;
        font-weight: 700;
        display: flex;
        gap:1.5rem;
        padding: 0;
        .navLink{
          &:hover{
            color: $brandColor;
          }
        }
      }
    }
    .copyright{
      display: flex;
      flex-direction: column;
      gap: .6rem;
      .github{
        font-size:1.5rem
      }
    }
    
   
  }

  
  }

  

 